*{
    margin: 0;
    padding: 0;
}
body{
    background: #f7f8fa;
}
.left{
    float: left;
    width: 219px;
    height: 500px;
    margin: 20px;
    padding: 15px;
    background-color: white;
    .btns{
        display: flex;
        flex-wrap: wrap;
        button{
            width: 45%;
            margin: 3px;
            border: 1px grey solid;
            background-color: #fff;
        }
    }
}
.right{
    float: left;
    width: 800px;
    margin: 20px;
    div{
        background-color: #fff;
        box-shadow: 5px 5px 20px rgb(209, 207, 207);
        padding: 20px;
        margin: 10px;
        // height: 100px;
    }
}